body {background-color: #383838; color: #c8c8c8;}

#content {background-color: #999966; padding:10px; border-width:6px; border-style:outset; margin:10px; color:#000033;}

.noncontent {background-color:#330066; border-width:2px; border-style:solid; border-color:#990000; padding:10px;}

hgroup {text-align:center;}

nav {padding:10px; background-color:#D8D8D8; border-width:2px; border-color:#330066; border-style:solid;}

ul {list-style-type:square;}
